
@{
    ViewData["Title"] = "Send Mail";
}



<h2><b>Send Mail Status: </b> <font color="#f30e0e">@ViewBag.SendGridStatusCode</font></h2> <br />
<h4><b>Send Grid Headers:</b> </h4>
<p>@ViewBag.SendGridHeaders</p> <br />
<h4><b>Send Grid Body:</b></h4> 
<p>@ViewBag.SendGridBody</p>



